#main_img{
    width: 100%;
    height: 300px;
}

body{
    background-color:blanchedalmond;
}

hr{
    color:darkgray;
}

.likes_sec{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.like{
    background-color:blanchedalmond;
}

.like_img{
    width: 40px;
}

.like_count{
    margin-top: 15px;
    margin-left: 10px;
}

.comments_sec{
    margin-top: 20px;
    display: block;
    text-align: center;
}